In [0]:
import pandas as pd
import numpy as np
import  re
df= pd.read_excel('Los_angeles.xlsx',sheet_name='Sheet1',usecols=['Yr','Trans','Odom','Price','Engine'])

In [0]:
for i in range(2,433):
  df=df.append(pd.read_excel('Los_angeles.xlsx',sheet_name='Sheet'+str(i),usecols=['Yr','Trans','Odom','Price','Engine']))

In [0]:
df=df.replace('na',np.nan)
df=df.dropna()
df

In [0]:
df['Engine']=df['Engine'].str.extract(r"(\d\.?\d+)")

In [0]:
df.reset_index(drop=True,inplace=True)

In [0]:
df=df.dropna()

In [0]:
df =df.rename(columns={'Yr':'Year','Trans':'Transmission'})

In [0]:
df['Price']=df['Price'].map(lambda x: x.lstrip('$'))

In [0]:
df['Price']=pd.to_numeric(df['Price'].map(lambda x:x.replace(',','')))

In [0]:
df['Odom']=pd.to_numeric(df['Odom'].map( lambda x: x if type(x) == int else x.replace(',','')))

In [0]:
df1=df

In [0]:
df

In [0]:
df1['Transmission']=df1['Transmission'].map(lambda x : x if x=='Automatic' else x.replace(x,'Manual'))

In [0]:
df1['Engine']=df1['Engine'].map(lambda x :float(x))

In [0]:
df1

In [0]:
writer = pd.ExcelWriter('/content/Los_angeles_best.xlsx')
df1.to_excel(writer,sheet_name='Sheet1',index=False)
writer.save()